/* systeme de variable */
:root {
    --color-green: #76c38f;
    --color-grey-1: #979797;
    --color-grey-2: #303030;
    --color-grey-3: #2b2b2b;
    --color-grey-4: #222;
    --color-grey-5: #151515;
    --color-grey-6: #333333;
    --color-grey-7: #666666;
    --color-grey-8: #404040;
    --color-grey-9: #3a3a3a;
    --color-bordeaux-dark: #290000;
    --color-bordeaux-light: #660000;
    --color-black: #000000;
    --color-white: #fff;
}
body{
    margin: 0;
}
body,p,h1,h2,h3,h4,h5,a{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* systeme de couleur */
.bg-color-bordeaux-dark{
    background-color: var(--color-bordeaux-dark);
}
.bg-color-bordeaux-light{
    background-color: var(--color-bordeaux-light);
}
.bg-color-grey-2{
    background-color: var(--color-grey-2);
}

.bg-color-grey-6{
    background-color: var(--color-grey-6);
}
.bg-color-green{
    background-color: var(--color-green);
}
.bg-color-black{
    background-color: var(--color-black);
}
.bg-color-black-op60{
    background-color: rgba(0, 0, 0, 0.6);
}
    /* couleur de texte */
 .color-white{
    color: var(--color-white);
}
.color-grey-1{
    color: var(--color-grey-1)
 }
.color-grey-6{
    color: var(--color-grey-6);
}

/* partie HEADER */
header{
    border-top:5px solid var(--color-green);
    height: 600px;
}

 .font-size-32{
    font-size: 2rem;
}
.font-size-h1, .font-size-29{
    font-size: 1.8rem;
}
.font-size-14{
    font-size: .9rem;
}
.font-size-13{
    font-size: .8rem;
}
.font-size-12{
    font-size: .75rem;
}
.font-size-h2, .font-size-11{
    font-size: .65rem;
}
.font-size-46{
    font-size: 2.9rem;
}
.btn-green {
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 10px;
    padding: 11px 20px 9px 20px;
}


    /*Menu*/
    .btn-hover-green:hover{
        background-color: var(--color-green);
        display: inline;
        border-radius: 10px;    
    }

    .btn-grey-hover:hover{
     background-color: var(--color-grey-2);
     color: var(--color-green);
    }

    .btn-grey-hover{
        font-size: 13px;
    }
    #menuBurger nav{
        width:300px;
        height:100vh;
        box-sizing: inherit;
        right: 5rem;
        top:0px;
        z-index: 9;
    }
    #menuBurger nav li a {
        border-radius: 10px;

    }
    #menuBurger nav li a:link,#menuBurger nav li a:visited{
        color:var(--color-white);
        background-color: var(--color-green);
    }
    #menuBurger nav li a:link:hover,#menuBurger nav li a:visited:hover{
        color:black
    }
    nav li a {
        margin: 0;
        padding-right: 4rem;
    }
    ::after, ::before{
        box-sizing: inherit;
    }
.padding-13-20{
    padding: 13px 20px;
}
/* CArousel */
.carousel-item{
    float: none; 
}
.carousel-inner{
    height: 400px;
}
.carousel-item.active {
    display: block;
  }
  .carousel-item-next,
  .carousel-item-prev{display: none;}
  
.img-slid{
    border: solid 1rem grey;
}
.carousel-control-next, .carousel-control-prev{
    top:50%;
}
/**** partie content ****/ 
/* Partie1 */

.projet-latest-work{
    cursor: pointer; 
}
.rounded{
    border-radius: 1rem !important;
}
.services{
    background-color: var(--color-white);
    color: var(--color-grey-1);
}

.services:hover{
    background-color: var(--color-green);
    color: var(--color-white);

}
    /* partie-2*/
.title-lastest-work{    
    z-index: 10;
}
.line{
    height: 3px;
    background-color: var(--color-grey-6);
    z-index: 1;
    position: absolute;
}
.projet-lorem{
    cursor: pointer;
    border: #fff solid 5px; 
}

.projet-lorem:hover{
    border: #76c38f solid 5px;     
}

.lorem-text{
    height: 30px;
    margin-top: 160px;
}

.projet-1{
    background-image: url(img/img-paysag-01.jpg);   
    background-size: cover;}

.projet-2{
    background-image: url(img/img-paysag-02.jpg);   
    background-size: cover;}

.projet-3{
    background-image: url(img/img-paysag-03.jpg);   
    background-size: cover;}

.projet-4{
    background-image: url(img/img-paysag-04.jpg);   
    background-size: cover;}

.projet-5{
    background-image: url(img/img-paysag-05.jpg);   
    background-size: cover;}

.projet-6{
    background-image: url(img/img-paysag-06.jpg);   
    background-size: cover;}

    /* partie footer */

    .bg-footer-1{
        background-color: #303030;
        border-bottom: 1px solid black;
        padding-bottom: 25px;
    }

    /* titres*/
    .h3-footer{
        font-size: 16px;
        margin-top: 40px;
    }
    
    .titre-1-footer{
        margin-bottom: 33px;
    }
    .titre-2-footer{
        margin-bottom: 26px;
    }
    .titre-3-footer{
        margin-bottom: 39px;
    }
    .titre-4-footer{
        margin-bottom: 34px;
    }
    
    .titre-post-title,  .li-footer, a{
        color: var(--color-green);
    }
    
    .nav-footer{
        padding-left: 1px; 
    }
    
    .li-footer{
        border-bottom: 1px solid var(--color-grey-8);
        padding-top: 13px;
        padding-bottom: 7px;
        width: 210px; 
    }
    
    .p-col-1-footer, .p-col-2-footer{
        font-size: 13px;
        color: var(--color-grey-1);
        font-weight: normal;
        line-height: 20px;
    }
  
    
    .text-admin{
        font-size: 10px;
        color: var(--color-grey-7);
        line-height: 20px;
        font-weight: normal;
        margin-top: 17px;
    }
    .admin, .namehere{
        color: var(--color-green);
    }
    
    .date{
        color: var(--color-grey-1);
    }
    
    .little-form, textarea{
        border-radius: 10px;
        background-color: var(--color-grey-4);
        margin-bottom: 10px;
        padding-left: 10px;
        width: 225px;
        color: var(--color-grey-1);
        font-family: Georgia, 'Times New Roman', Times, serif;
        outline: none;
        font-size: 13px;
    }
    .little-form:valid , textarea:valid{
        border: solid 2px var(--color-green);
    }
    
    .little-form:focus:invalid, textarea:focus:invalid{
        border: solid 2px red;
    }
    
    
    .little-form{
        height: 33px;
    }
    textarea{
        height: 75px;
        resize: none;
    }
    
    button{
        background-color: var(--color-green);
        color: var(--color-black);
        font-size: 12px;
        font-weight: normal;
        border: none;
        border-radius: 10px;
        height: 35px;
        text-transform: uppercase;
        width: 75px;
    }
    
    /*PETIT FOOTER*/
    .bg-footer-2{
        background-color: var(--color-grey-3);
        border-top: 1px solid var(--color-grey-9);
        }
.height-62{
    height: 62px;
}
   
  
    .reception-message{
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 50px;
        font-size: 18px;
    }
.retour{
        font-weight: 600;
        font-size: 16px;
    }
div a button{
            border-radius: 10px;
            height: 45px;
            letter-spacing: 2px;
}

    
/*Media queries*/

@media screen  and (max-width:1200px){

    .font-size-h1{
        font-size: 1.5rem;
    }
    .nav-top{
        font-size: .8rem;
    }
    .font-size-13{
        font-size: .8rem;
    }
    .padding-13-20{
        padding: 11px 18px;
    }
}
@media screen  and (max-width:991px){  
    header{
        height:400px;
    }  
    .font-size-13{
        font-size: 9px;
    }

        .little-form, textarea{
            border-radius: 10px;
            background-color: var(--color-grey-4);
            margin-bottom: 10px;
            padding-left: 10px;
            width: 200px;
            color: var(--color-grey-1);
            font-family: Georgia, 'Times New Roman', Times, serif;
            outline: none;
            font-size: 13px;
 }
     

}

@media screen  and (max-width:767px){
header{
        height:400px;
}
.font-size-46{
    font-size: 2rem;
}
.taille-image{
        width: 250px;
    }

.btn-green{
        padding: 5px 10px;
    }


    .container-footer{
        max-width: 100%;
        margin-left: 117px;
        width: 71%;
    }


.copyright{
        color: var(--color-grey-1);
        font-size: 11px;
    }

}

/*Media queries*/
@media screen and (max-width : 576px){
    header{
        height: 600px;
    }
    .font-size-h2{
        font-size: .8rem;
    }
 .copyright{
        color: var(--color-grey-1);
        font-size: 11px;
    }

 .btn-green{
        padding: 5px 10px;
        font-size: 13px;
    }

}

