/* systeme de variable */
:root {
    --color-green: #76c38f;
    --color-grey-1: #979797;
    --color-grey-2: #303030;
    --color-grey-3: #2b2b2b;
    --color-grey-4: #222;
    --color-grey-5: #151515;
    --color-grey-6: #333333;
    --color-grey-7: #666666;
    --color-grey-8: #404040;
    --color-grey-9: #3a3a3a;
    --color-bordeaux-dark: #290000;
    --color-bordeaux-light: #660000;
    --color-black: #000000;
    --color-white: #fff;
}
body{
    margin: 0;
}
body, p, h1, h2, h3, h4, h5, a, button, span, div{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* systeme de couleur */
.bg-color-bordeaux-dark{
    background-color: var(--color-bordeaux-dark);
}
.bg-color-bordeaux-light{
    background-color: var(--color-bordeaux-light);
}
.bg-color-grey-2{
    background-color: var(--color-grey-2);
}
.bg-color-grey-4{
    background-color: var(--color-grey-4);
}
.bg-color-grey-3{
    background-color: var(--color-grey-3);
}
.bg-color-grey-6{
    background-color: var(--color-grey-6);
}
.bg-color-green{
    background-color: var(--color-green);
}
.bg-color-black{
    background-color: var(--color-black);
}
.bg-color-black-op60{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}
    /* couleur de texte */
.color-green{
    color: var(--color-green)
 }
.color-grey-1{
    color: var(--color-grey-1)
 }
.color-grey-6{
    color: var(--color-grey-6);
}
.color-grey-7{
    color: var(--color-grey-7);
}
.color-black{
    color: var(--color-black);
}
/* border : color, radius */
.border-10px{
    border-radius: 10px;
}
.border-top-grey-9{
    border: solid 1px var(--color-grey-9);
}
/* font size */
.font-size-46{
    font-size: 2.9rem;
}
.font-size-32{
    font-size: 2rem;
}
.font-size-h1, .font-size-29{
    font-size: 1.8rem;
}
.font-size-16{
    font-size: 1rem;
}
.font-size-14{
    font-size: .9rem;
}
.font-size-13{
    font-size: .8rem;
}
.font-size-12{
    font-size: .75rem;
}
.font-size-h2, .font-size-11{
    font-size: .65rem;
}
/* partie HEADER */
header{
    border-top:5px solid var(--color-green);
    height: auto;
}
.btn-green {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 11px 20px 9px 20px;
}


/*Menu*/
.btn-hover-green:hover{
    background-color: var(--color-green);
    display: inline;
}

.btn-grey-hover:hover{
    background-color: var(--color-grey-2);
    color: var(--color-green);
}

.btn-grey-hover{font-size: 13px;
 }
    #menuBurger nav{
        width:300px;
        box-sizing: inherit;
        right: 5rem;
        top:0px;
        z-index: 9;
    }
    #menuBurger nav li a {
        border-radius: 10px;

    }
    #menuBurger nav li a:link,#menuBurger nav li a:visited{
        color:var(--color-white);
        background-color: var(--color-green);
    }
    #menuBurger nav li a:link:hover,#menuBurger nav li a:visited:hover{
        color:black
    }
    nav li a {
        margin: 0;
        padding-right: 4rem;
    }
    ::after, ::before{
        box-sizing: inherit;
    }
.padding-13-20{
    padding: 13px 20px;
}
/* Carousel */

.carousel-inner{
    height: 400px;
}
.img-slid{
    border: solid 1rem grey;
}
.carousel-control-next, .carousel-control-prev{
    top:50%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-image: none!important;
}
.carousel-indicators li{
    background-color: var(--color-green);
}

/**** partie content ****/ 
/* Partie1 */
.projet-latest-work{
    cursor: pointer; 
}
.rounded{
    border-radius: 1rem !important;
}
.services{
    background-color: var(--color-white);
    color: var(--color-grey-1);
}
.services:hover{
    background-color: var(--color-green);
    color: var(--color-white);
}
.width-img-services{
    width: auto;
}
.width-text-services{
    width: auto;
}
 /* partie-2*/
.title-lastest-work{    
    z-index: 10;
}
.line{
    height: 3px;
    background-color: var(--color-grey-6);
    z-index: 1;
    position: absolute;
}
.projet-lorem{
    cursor: pointer;
    border: #fff solid 5px;
    width: auto;
    height: 200px;
}
.projet-lorem:hover{
    border: #76c38f solid 5px;     
}
.projet-lorem:hover h3{
    display: none;
}
.lorem-text{
    height: 30px;
    margin-top: 160px;
}
.projet-1{
    background-image: url(img/img-paysag-01.jpg);   
    background-size: cover;}

.projet-2{
    background-image: url(img/img-paysag-02.jpg);   
    background-size: cover;}

.projet-3{
    background-image: url(img/img-paysag-03.jpg);   
    background-size: cover;}

.projet-4{
    background-image: url(img/img-paysag-04.jpg);   
    background-size: cover;}

.projet-5{
    background-image: url(img/img-paysag-05.jpg);   
    background-size: cover;}

.projet-6{
    background-image: url(img/img-paysag-06.jpg);   
    background-size: cover;}

 /* partie footer */

.nav-footer li .color-green:hover, .read-more .color-green:hover{
    color: var(--color-grey-1);
}
.li-footer{
     border-bottom: 1px solid var(--color-grey-8);
 }
 #contact input, #contact textarea{
    border-radius: 10px;
}
textarea{
    height: 75px;
    resize: none;
}
form .bg-color-green:hover {
    background-color: var(--color-grey-7);
}
footer .border-bottom{
    border-color: var(--color-black)!important;
}
.height-62{
    height: 62px;
} 
/*Media queries*/
@media screen  and (max-width:1200px){

    .font-size-h1{
        font-size: 1.5rem;
    }
    .nav-top{
        font-size: .8rem;
    }
    .font-size-13{
        font-size: .9rem;
    }
    .padding-13-20{
        padding: 11px 18px;
    }
}
@media screen  and (max-width:991px){  
    .font-size-13{
        font-size: .8rem;
    }
    .font-size-46{
        font-size: 1.8rem;
    }
    .carousel-inner{
        height: 280px;
    }
    .carousel-control-next, .carousel-control-prev{
        top:30%;
    }
}
@media screen  and (max-width:767px){
    .font-size-46{
        font-size: 1.3rem;
    }
    .font-size-16{
        font-size: 1.5rem;
    }
    .font-size-13{
        font-size: 1rem;
    }
    .font-size-12{
        font-size: .9rem;
    }
    .carousel-inner{
        height: 270px;
    }
    .img-slid{
        border: solid .5rem grey;
    }
    .btn-green{
            padding: 5px 10px;
    }
    .width-img-services{
        width: 30%;
    }
    .width-text-services{
        width: 70%;
    }

}

/*Media queries*/
@media screen and (max-width : 575px){
    .font-size-h2{
        font-size: .8rem;
    }
    .font-size-29{
        font-size: 1.5rem;
    }
    footer .font-size-13{
        font-size: .6rem;
        }
        .carousel{
            height: 100vh;
        }
    .carousel-inner{
            overflow: visible;
    }
    .width-img-services img{
        width: 100%;
        height: auto;
    }
    .carousel .w-75{
        width: 100%;
    }
    form button{
        width: 100%;
    }
    #menuBurger nav{
        right: 0;
        top: 10vh;
    }
    .carousel-item .col-12,.carousel-item .col-10{
        padding: 0!important;
        margin: 0!important;
    }
    .w-75{
        width: 90%!important;
        max-width: 336px;
    }
}

